extends layout

block content
  .container
    .header
    ul.nav.nav-pills.pull-right
        li
          a(href='/about') About
    .jumbotron
      h1 What are your dreams for the future?
      p.lead Vote for your favorite answer.
      #main-div
        h2
          ol
            li= answerOne 
            br
            li= answerTwo
        .row
          button.btn.btn-primary.btn-md.btn-one(type='button') Vote One
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          button.btn.btn-success.btn-md.btn-two(type='button') Vote Two
   

