extends layout

block content
  .container
    .header
    ul.nav.nav-pills.pull-right
        li
          a(href='/about') About
    .jumbotron
      h1 What are your dreams for the future?
      p.lead Vote on your favorite answer.
      br
      #main-btn.animated.tada Click for an answer
      br
      #main-div
      p= answerOne
      p= answerTwo
