extends layout

block content
  .container
    .header
    ul.nav.nav-pills.pull-right
        li
          a(href='/about') About
    .jumbotron
      h1 What are your dreams for the future?
      p.lead Vote for your favorite answer.
      #main-div
        h2
          ol
            li= answerOne
              | test
            br
            li= answerTwo
