extends layout

block content
  .container
      .jumbotron
        h1 What are your dreams for the future?
        br
        #main-btn.animated.tada Click for an answer
        br
        #main-div
        #results
