extends layout

block content
  .container
    .header
    ul.nav.nav-pills.pull-right
        li
          a(href='/about') About
    .jumbotron
      h1 Results!
        h2
          br
          ol
            li #{answerOneResults} - #{answerOne} %
            br
            li #{answerTwoResults} - #{answerTwo} %

   

